{% extends  'base.html.twig' %}
{% block cssStrane %}
    {{ encore_entry_link_tags('css/faktura') }}
{% endblock %}


  {% block body %}
      {{ parent() }}
  {% endblock %}

{% block bodyContainer %}

    <div class="body-container">
        <div class="body-container-header">
            <div>
                <h1>Faktura</h1>
            </div>
            <div class="btn-stampanje-dialog-div">
                {% if faktura.id is defined %}
                    <button id="btn-stapmanje-dialog" class="btn btn-outline-success">Stampaj</button>
                {% endif %}
            </div>
        </div>
        <div class="body-container-sadrzaj">
            <div class="faktura-forma">
                {{ form_start(form) }}
                {{ form_row(form.brojRacuna,{
                    label: 'Broj racuna',
                    attr:{
                        placeholder:'Broj racuna'
                    },
                    row_attr:{
                        class: 'form-floating'
                    }
                }) }}
                <br>
                {{ form_widget(form.datumIzdavanja,) }}
                <br>
                {{ form_widget(form.organizacija) }}
                <br>

                <div class="stavke-form-container">
                    <div class="stavke-form-container-header">
                        <div class="stavke-form-container-naslov">
                            <h2>Stavke fakture</h2>
                        </div>
                        <div class="stavke-form-container-dodaj-stavku">
                            <button id="dodajStavkuFaktureBtn" class="btn btn-success">Dodaj stavku</button>
                        </div>
                    </div>
                    <ul id="lista-stavki" data-prototype="{{ form_widget(form.stavke.vars.prototype)|e('html_attr') }}">
                        {% for stavka in form.stavke %}
                            <li class="stavka-panel">
                                {#                                {{ form_widget(stavka,{ 'attr': {'class': 'stavka-forma-class'} }) }} #}
                                {{ form_row(stavka) }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="div-btn-submit">
                    {{ form_widget(form.Sacuvaj_fakturu) }}
                </div>
                {{ form_end(form) }}

            </div>
        </div>
    </div>

    {% if faktura.id is defined %}
        <div id="stampanje-dialog" style="display: none">
            <form id="form-stampanje"
                  action="{{ path('stampanje_fakture',
                      { 'fakturaId' : faktura.id , 'formatStampe':'Excel'}) }}"
                  method="get">
                <h3>Stampanje fakture</h3>
                <p>Odaberi format dokumenta</p>
                <input type="radio"  name="formatStampe" value="{{ path('stampanje_fakture',
                    { 'fakturaId' : faktura.id , 'formatStampe':'Excel'}) }}" checked>Excel
                <input type="radio"  name="formatStampe" value="{{ path('stampanje_fakture',
                    { 'fakturaId' : faktura.id , 'formatStampe':'Word'}) }}">Word
                <br>
                <button type="submit" class="btn btn-outline-success">Stampaj</button>
                <button type="button" id="btn-otkazi-stampanje" class="btn btn-outline-danger">Vrati se</button>
            </form>
        </div>

    {% endif %}


    {% block customjavascripts %}
        {#    <script src="{{ asset('assets/js/faktura.js') }}"></script> #}
        {{ encore_entry_script_tags('js/faktura') }}
    {% endblock %}
    {% for message in app.flashes('poruka') %}
        <script>alert('{{ message }}')</script>
    {% endfor %}
{% endblock %}


