{% extends  'base.html.twig' %}
{% block cssStrane %}
    {{ encore_entry_link_tags('css/faktura') }}
{% endblock %}


  {% block body %}
      {{ parent() }}
  {% endblock %}

{% block bodyContainer %}

    <div class="body-container">

        <div class="faktura-forma-div ">
            <form class="faktura-form">
                <div class="faktura-form-header row ">
                    <div class="col-8 text-center">
                        <h1>Faktura</h1>
                    </div>
                    <div class="col mb-3">
                        <label class="form-label">Datum izdavanja</label>
                        <input class="form-control" type="date" name="datum_izdavanja"
                               {% if faktura is defined %}value='{{ faktura.datumizdavanja|date('Y-m-d') }}' {% endif %}>
                    </div>
                    {#                    <div class="btn-stampanje-dialog-div"> #}
                    {#                        {% if faktura.id is defined %} #}
                    {#                            <button id="btn-stapmanje-dialog" class="btn btn-outline-success">Stampaj</button> #}
                    {#                        {% endif %} #}
                    {#                    </div> #}
                </div>

                <div class="faktura-form-body row g-3">
                    <div class="col-md-8">
                        <label class="form-label">Broj racuna</label>
                        <input type="text" name="broj_racuna" class="form-control"
                               value="{% if faktura is defined %}{{ faktura.brojracuna }}{% endif %} ">
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Organizacija</label>
                        <select class="form-select">
                            <option selected>Obaberi</option>
                            {% for organizacija in organizacije %}
                                <option value="{{ organizacija.id }}"
                                        {% if faktura is defined  and  faktura.organizacija.id==organizacija.id %}
                                selected
                                        {% endif %}>{{ organizacija.naziv }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="stavke-fakture-container mt-4" id="stavke-fakture-container" data-proizvodiselect='

                <select class="stavka-select-class form-select"
                        name="stavka-proizvod-select">
                    <option data-jm="/" data-cenapojedinici="0">Izaberi proizvod</option>
                    {% for proizvod in proizvodi %}
                        <option value="{{ proizvod.id }}"
                                data-jm="{{ proizvod.jedinicamere.oznaka }}"
                                data-cenapojedinici="{{ proizvod.cenapojedinici }}">{{ proizvod.nazivproizvoda }}
                        </option>
                    {% endfor %}
                </select>
'>

                    <div class="stavke-fakture-container-header row">
                        <div class="col-9">
                            <h2>Stavke fakture</h2>
                        </div>
                        <div class="col-3 dodaj-stavku-div">
                            <button id="dodajStavkuFaktureBtn" class="btn btn-success h-80">Dodaj stavku</button>
                        </div>
                    </div>
                    <div class="stavke-fakture-container-body  mt-4">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">proizvod</th>
                                <th scope="col">kolicina</th>
                                <th scope="col">jm</th>
                                <th scope="col">cena po jedinici</th>
                                <th scope="col">iznos</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody id="stavke-table-body">
                            {% if faktura is defined %}
                                {% for stavka in faktura.stavke %}
                                    <tr>
                                        <td>
                                            <select class="stavka-select-class form-select"
                                                    name="stavka-proizvod-select">
                                                <option data-jm="/" data-cenapojedinici="0">Izaberi proizvod</option>
                                                {% for proizvod in proizvodi %}
                                                    <option value="{{ proizvod.id }}"
                                                            data-jm="{{ proizvod.jedinicamere.oznaka }}"
                                                            data-cenapojedinici="{{ proizvod.cenapojedinici }}"
                                                            {% if stavka.proizvod.id==proizvod.id %}
                                                                selected
                                                            {% endif %}
                                                    >{{ proizvod.nazivproizvoda }}
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td>
                                            <input type="number" class="stavka-kolicina-class form-control"
                                                   name="stavka-kolicina"
                                                   value="{{ stavka.kolicina }}">
                                        </td>
                                        <td class="stavka-jedinica-mere">{{ stavka.proizvod.jedinicamere.oznaka }}</td>
                                        <td class="stavka-cena">{{ stavka.proizvod.cenapojedinici }}</td>
                                        <td class="stavka-ukupno">{{ stavka.kolicina* stavka.proizvod.cenapojedinici }}</td>
                                        <td class="btn-ukloni-stavku">
                                            <button type="button" class="btn btn-danger">X</button>
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            <tr id="stavke-ukupno-red">
                                <td>Ukupno</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td> {% if faktura is defined %}{{ faktura.ukupaniznos }}{% else %}0{% endif %}</td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

            </form>
        </div>

    </div>

    {% if faktura.id is defined %}
        <div id="stampanje-dialog" style="display: none">
            <form id="form-stampanje"
                  action="{{ path('stampanje_fakture',
                      { 'fakturaId' : faktura.id , 'formatStampe':'Excel'}) }}"
                  method="get">
                <h3>Stampanje fakture</h3>
                <p>Odaberi format dokumenta</p>
                <input type="radio" name="formatStampe" value="{{ path('stampanje_fakture',
                    { 'fakturaId' : faktura.id , 'formatStampe':'Excel'}) }}" checked>Excel
                <input type="radio" name="formatStampe" value="{{ path('stampanje_fakture',
                    { 'fakturaId' : faktura.id , 'formatStampe':'Word'}) }}">Word
                <br>
                <button type="submit" class="btn btn-outline-success">Stampaj</button>
                <button type="button" id="btn-otkazi-stampanje" class="btn btn-outline-danger">Vrati se</button>
            </form>
        </div>

    {% endif %}


    {% block customjavascripts %}
        {#    <script src="{{ asset('assets/js/faktura.js') }}"></script> #}
        {{ encore_entry_script_tags('js/faktura') }}
    {% endblock %}
    {% for message in app.flashes('poruka') %}
        <script>alert('{{ message }}')</script>
    {% endfor %}
{% endblock %}


