{# <li>Broj racuna {{ faktura.brojracuna}}</li> #}
{# <br> #}
{# {% for stavka in faktura.stavke %} #}
{#    {{ stavka.nazivartikla }} kolicina:   {{ stavka.kolicina }} #}
{#    <br> #}
{# {% endfor %} #}
{# <br> #}
{# <li>{{ faktura.organizacija.naziv}}</li> #}
{% extends  'base.html.twig' %}

  {% block body %}

      {% for message in app.flashes('poruka') %}
          <div class="flash-notice">
              {{ message }}
          </div>
      {% endfor %}
      {{ form_start(form) }}

      <div class="mb-3">
          <label for="broj_racuna" class="form-label">Broj racuna</label>
          {{ form_widget(form.broj_racuna) }}
      </div>

      <div class="mb-3">
          <label>Datum izdavanja racuna: </label>
          {{ form_widget(form.datum_izdavanja) }}
      </div>

      <div class="mb-3">
          <label>Organizacija: </label>
          {{ form_widget(form.organizacija) }}
      </div>

      {{ form_end(form) }}

      {{ include('faktura/lista_stavki_fakture.html.twig',{'stavke':faktura.stavke}) }}

       <div>
           {% if faktura is defined and faktura.id is not empty %}
               <a href="{{ path('nova_stavka',{'faktura': faktura.id }) }}">Dodaj novu stavku</a>
           {% endif %}
       </div>

      <div>
          <a href="{{ path('sve_fakture') }}">Sve fakture</a>
      </div>

  {% endblock %}