{% extends  'base.html.twig' %}

  {% block body %}

      {% for message in app.flashes('poruka') %}
          <div class="flash-notice">
              {{ message }}
          </div>
      {% endfor %}
      {{ form_start(form) }}

      <h1>
          Faktura
      </h1>

      <div class="mb-3">
          <label for="broj_racuna" class="form-label">Broj racuna</label>
          {{ form_widget(form.broj_racuna) }}
      </div>

      <div class="mb-3">
          <label>Datum izdavanja racuna: </label>
          {{ form_widget(form.datum_izdavanja) }}
      </div>

      <div class="mb-3">
          <label>Organizacija: </label>
          {{ form_widget(form.organizacija) }}
      </div>

      <div id="lista-stavki"  data-prototype="{{ form_widget(form.stavke.vars.prototype)|e('html_attr') }}">
          <h2>Stavke fakture</h2>
      {% for stavka in form.stavke %}
          <div class="mb-3 stavka-panel">
              {{ form_widget(stavka) }}
          </div>
      {% endfor %}
      </div>
      {{ form_end(form) }}


      <div>
          <a class="btn btn-warning" href="{{ path('sve_fakture') }}">Sve fakture</a>
      </div>

      <br>



{% block javascripts %}
{#    <script src="{{ asset('assets/js/faktura.js') }}"></script>#}
    {{ encore_entry_script_tags('js/faktura') }}
{% endblock %}
  {% endblock %}


