{% extends 'base.html.twig' %}
{% block cssStrane %}
    {{ encore_entry_link_tags('css/fakturaIndex') }}
{% endblock %}
{% block title %}Sve Fakture{% endblock %}

{% block body %}
    {{ parent() }}
{% endblock %}


    {% block bodyContainer %}
        <div class="body-container">

            <div class="body-container-header">
                <div class="body-container-naslov">
                    <h2>Sve fakture</h2>
                </div>

                <div>
                    <a class="btn btn-primary" href="{{ path('unos_fakture') }}">Napravi novu fakturu</a>
                </div>
            </div>

            <div class="body-container-sadrzaj">
                <div class="fakture-wrapper row row-cols-1 row-cols-md-2 g-4">
                    {% for faktura in fakture %}
                        <div class="col d-flex justify-content-center">
                            <div class="card h-100" style="width: 28rem;">
                                <div class="card-body">
                                    <h6 class="card-subtitle mb-2 text-muted">Broj racuna</h6>
                                    <h5 class="card-title ">{{ faktura.brojracuna }}</h5>
                                    <p class="card-text">Organizacija: {{ faktura.organizacija.naziv }}</p>
                                    <ul class="list-group list-group-flush">
                                        <h6>Stavke</h6>
                                        {% for stavka in faktura.stavke %}
                                            <li class="list-group-item">
                                                Proizvod: {{ stavka.proizvod.nazivproizvoda }},
                                                kolicina: {{ stavka.kolicina }}, iznos: {{ stavka.kolicina*stavka.proizvod.cenapojedinici }}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <br>
                                    <p class="card-text">Ukupan iznos: {{ faktura.ukupaniznos }}</p>
                                    <div class="card-text card-buttons">
                                        <a class="btn btn-success card-link"
                                           href="{{ path('prikazi_fakturu',{'fakturaId':faktura.id}) }}">Prikazi
                                            fakturu</a>
                                        <form class="card-link"
                                              action="{{ path('obrisi_fakturu',{'fakturaId':faktura.id}) }}"
                                              method="post">
                                            <input type="hidden" name="_method" value="DELETE"/>
                                            <button class="btn btn-danger" type="submit">Obrisi fakturu</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <p class="card-text">Datum izdavanja: {{ faktura.datumIzdavanja|date('Y-m-d') }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% for message in app.flashes('poruka') %}
            <script>alert('{{ message }}')</script>
        {% endfor %}
    {% endblock %}