{% extends 'base.html.twig' %}

{% block title %}Sve Fakture{% endblock %}

{% block body %}
    {{ parent() }}
    {% block bodyContainer %}
        <div class="body-container">

        </div>
    {% endblock %}

    {#    {% for message in app.flashes('poruka') %} #}
    {#        <div class="flash-notice"> #}
    {#            {{ message }} #}
    {#        </div> #}
    {#    {% endfor %} #}



    <div class="example-wrapper">

        <div>
            <a class="btn btn-primary" href="{{ path('nova_faktura') }}">Napravi novu fakturu</a>
        </div>
        <br>
        <ul>
            {% for faktura in fakture %}
                <li>Broj racuna {{ faktura.brojracuna }}</li>
                <br>
                <p>Stavke fakture</p>
                {% for stavka in faktura.stavke %}
                    {{ stavka.nazivartikla }} kolicina:   {{ stavka.kolicina }}
                    <br>
                {% endfor %}
                <br>
                <li>{{ faktura.organizacija.naziv }}</li>
                <div>
                    <a class="btn btn-success" href="{{ path('prikazi_fakturu',{'faktura':faktura.id}) }}">Prikazi
                        fakturu</a>
                    <form action="{{ path('obrisi_fakturu',{'faktura':faktura.id}) }}" method="post">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class="btn btn-danger" type="submit">Obrisi fakturu</button>
                    </form>
                </div>
                ---------------------------
            {% endfor %}
        </ul>
    </div>

{% endblock %}
