<table class="table">

    <h2>Stavke fakture</h2>
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Artikl</th>
        <th scope="col">Kolicina</th>

    </tr>
    </thead>
    <tbody id="body_tabele_stavke">
    {% for stavka in stavke %}
        {% if stavka %}
            <tr class="stavka-red-lista" id-stavke="{{ stavka.id }}">
                <td scope="row">{{ stavka.id }}</td>
                <td>{{ stavka.nazivartikla }}</td>
                <td>{{ stavka.kolicina }}</td>
                <td>
                    {% if stavka.id is not empty %}
                    <a class="btn btn-success"
                       href="{{ path('prikazi_stavku',{'faktura':stavka.faktura.id,'stavka':stavka.id} ) }}">Prikazi </a>
                </td>
                <td>
                    <form action="{{ path('obrisi_stavku',{'faktura':stavka.faktura.id,'stavka':stavka.id}) }} " method="post">
                        <input type="hidden" name="_method" value="DELETE"/>
                        <input class="btn btn-danger" type="submit" value="Obrisi"/>
                    </form>
                </td>
                {% else %}
                <p>stavka je u procesu cuvanja</p>
                {% endif %}
            </tr>
        {% endif %}
    {% endfor %}
    </tbody>
</table>
