{% extends 'base.html.twig' %}

{% block title %}Dodaj stavku fakture{% endblock %}

{% block body %}
    {% for message in app.flashes('poruka') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}

    <div>
        <label class="mb-3">Broj racuna fakture: </label>
        {{ faktura.brojracuna }}
    </div>

    <br>

    {{ form_start(form) }}

    <div class="mb-3">
        <label class="form-label">Naziv artikla</label>
        {{ form_widget(form.naziv_artikla) }}
    </div>

    <div class="mb-3">
        <label>Kolicina </label>
        {{ form_widget(form.kolicina) }}
    </div>
    {{ form_end(form) }}

    <div>
        <a class="btn btn-warning" href="{{ path('faktura',{'faktura':faktura.id}) }}">Vrati se</a>
    </div>

{% endblock %}
